button{
    background-color: var(--blue-munsell);
    color: var(--electric-green);
    opacity: 0.9;
    font-weight: 1000;
    font-size: 18px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 26%
}
.prev{
    left: 10px;
}