.ChScroll-Container{
    background-color: var(--background);
    width: 350px;
    height: 65px;
    border-radius: 30px;
    position: relative;
    margin-top: 15px;
    padding-top: 5px;
    
}
.ChScroll-Container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(3px);
    background-color: var(--blue-munsell);
    width: 100%;
    height: 70px;
    border-radius: 30px;
}
.ChScroll-ul{
    margin-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0;
    overflow-y: hidden; 
    overflow-x: auto;
    border-radius: 30px;
}
.ChScroll-li{
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.ChScroll-ChImg-Alive{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}
.ChScroll-ChImg-Alive::before{
    content: "";
    background-color: var(--electric-green);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    filter: blur(3px);
    top: 0;
    left: 0;
}
.ChScroll-ChImg-Dead{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}
.ChScroll-ChImg-Dead::before{
    content: "";
    background-color: red;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    filter: blur(4px);
    top: 0;
    left: 0;
}
.ChScroll-ChImg-Unknow{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}
.ChScroll-ChImg-Unknow::before{
    content: "";
    background-color: var(--blue-munsell);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    filter: blur(4px);
    top: 0;
    left: 0;
}
.Profile-Picture{
    height: 55px;
    border-radius: 50%;
    z-index: 3;
}